<table class="w-full">
  <!-- For avoid white line issues in outlook we use height for empty text -->
  <tr>
    <td class="h-[15px] text-[1px] leading-[15px]">&nbsp;</td>
  </tr>
  <tr>
    <td class="w-[470px] px-[20px] align-left">
      <table class="">
        <tr>
          <td class="w-[110px]">
            <x-image class="w-[110px]" imgUrl="Header_Logo.png" href="#" />
          </td>
          <td
            class="w-[360px] text-[#000049] text-[12px] leading-[13.8px] text-left pl-[10px]"
          >
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </td>
        </tr>
        <!-- For avoid white line issues in outlook we use height for empty text -->
        <tr>
          <td class="h-[15px] text-[1px] leading-[15px]">&nbsp;</td>
        </tr>
        <tr>
          <td class="w-[110px]"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
