<table class="w-full bg-[#F0F5F5]">
  <!-- For avoid white line issues in outlook we use height for empty text -->
  <tr>
    <td class="h-[15px] text-[1px] leading-[15px]">&nbsp;</td>
  </tr>
  <tr>
    <td
      class="text-[#005555] text-[24px] leading-[27.6px] text-center font-bold"
    >
      Sint cupidatat occaecat ut
    </td>
  </tr>
  <!-- For avoid white line issues in outlook we use height for empty text -->
  <tr>
    <td class="h-[15px] text-[1px] leading-[15px]">&nbsp;</td>
  </tr>
  <tr>
    <td class="px-[20px] text-center">
      <table>
        <tr>
          <td
            class="w-[270px] max-w-[320px] sm:w-[320px] sm:inline-block text-center bg-[#FFFFFF]"
          >
            <table>
              <tr>
                <td><p class="text-[15px]">&nbsp;</p></td>
              </tr>
              <tr>
                <td class="w-1/5 text-center">
                  <x-image class="w-[100px]" imgUrl="Icon.png" />
                </td>
              </tr>
              <tr>
                <td><p class="text-[15px]">&nbsp;</p></td>
              </tr>
              <tr>
                <td
                  class="text-[#005555] text-[20px] leading-[23px] text-center font-bold"
                >
                  Nisi ut ade
                </td>
              </tr>
              <!-- For avoid white line issues in outlook we use height for empty text -->
              <tr>
                <td class="h-[15px] text-[1px] leading-[15px]">&nbsp;</td>
              </tr>
              <tr>
                <td
                  class="text-[#444444] text-[16px] leading-[18.4px] text-center"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.<span
                    class="text-[9px] [line-height:0] [vertical-align:6px]"
                    >1</span
                  >
                </td>
              </tr>
              <!-- For avoid white line issues in outlook we use height for empty text -->
              <tr>
                <td class="h-[15px] text-[1px] leading-[15px]">&nbsp;</td>
              </tr>
            </table>
          </td>

          <td class="sm:w-full sm:inline-block">
            <p class="text-[15px] w-[15px]">&nbsp;</p>
          </td>
          <td
            class="w-[270px] max-w-[320px] sm:w-[320px] sm:inline-block text-center bg-[#FFFFFF]"
          >
            <table>
              <tr>
                <td><p class="text-[15px]">&nbsp;</p></td>
              </tr>
              <tr>
                <td class="w-1/5 text-center">
                  <x-image class="w-[100px]" imgUrl="Icon.png" />
                </td>
              </tr>
              <tr>
                <td><p class="text-[15px]">&nbsp;</p></td>
              </tr>
              <tr>
                <td
                  class="text-[#005555] text-[20px] leading-[23px] text-center font-bold"
                >
                  Duis aute irure
                </td>
              </tr>
              <tr>
                <td><p class="w-[15px]">&nbsp;</p></td>
              </tr>
              <tr>
                <td
                  class="text-[#444444] text-[16px] leading-[18.4px] text-center"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.<span
                    class="text-[9px] [line-height:0] [vertical-align:6px]"
                    >2</span
                  >
                </td>
              </tr>
              <tr>
                <td><p class="text-[15px]">&nbsp;</p></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- For avoid white line issues in outlook we use height for empty text -->
  <tr>
    <td class="h-[20px] text-[1px] leading-[20px]">&nbsp;</td>
  </tr>
</table>
