<table class="w-full">
  <tr>
    <td class="w-[560px] align-center-table px-[20px]">
      <x-image class="w-[560px]" imgUrl="Hero_Image.png" href="#" />
    </td>
  </tr>
  <tr>
    <td class="h-[15px] text-[1px] leading-[15px]">&nbsp;</td>
  </tr>

  <tr>
    <td
      class="text-[#005555] text-[24px] font-bold leading-[27.6px] text-center px-[20px]"
    >
      Excepteur sint occaecat cupidatat
    </td>
  </tr>
  <!-- For avoid white line issues in outlook we use height for empty text -->
  <tr>
    <td class="h-[15px] text-[1px] leading-[15px]">&nbsp;</td>
  </tr>
  <tr>
    <td
      class="text-[#444444] text-[16px] font-normal leading-[18.4px] text-center px-[20px]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </td>
  </tr>
  <!-- For avoid white line issues in outlook we use height for empty text -->
  <tr>
    <td class="h-[15px] text-[1px] leading-[15px]">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" class="">
      <x-button href="" class="text-[#ffffff] font-bold items-center"
        >Ut enim ad minim veniam</x-button
      >
    </td>
  </tr>
  <!-- For avoid white line issues in outlook we use height for empty text -->
  <tr>
    <td class="h-[15px] text-[1px] leading-[15px]">&nbsp;</td>
  </tr>
</table>
